{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <title>Watches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="{% static 'css/store/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="{% static 'css/store/style.css' %}" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'js/store/jquery-1.11.1.min.js' %}"></script>
    <!-- start menu -->
    <link href="{% static 'css/store/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="{% static 'js/store/megamenu.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".megamenu").megamenu();
        });
    </script>
    <script src="{% static 'js/store/jquery.easydropdown.js' %}"></script>
    <script src="{% static 'js/store/simpleCart.min.js' %}">
    </script>


    <script type="text/javascript">
        var user = '{{user}}'

        function getCookie(name) {
            //split string and get all induvidual name=value pairs in array
            var cookieArr = document.cookie.split(';');
            //loop though array elements
            for (var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split("=");

                //removing whitespace at the beginning of the cookie name and compare it with the given string
                if (name == cookiePair[0].trim()) {
                    //decode cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            //return null if not found
            return null;
        }

        var cart = JSON.parse(getCookie('cart'));
        if (cart == undefined) {
            cart = {}
            console.log("cart was created")
            document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log("cart:", cart);
    </script>
</head>

<body>
    <div class="men_banner">
        <div class="container">
            <div class="header_top">
                <div class="header_top_left">
                    <div class="box_11">
                        <a href="{% url 'cart' %}">
                            <h4>
                                <p>Cart: <span>{{cartItems}}</span> items</p><img src="{% static 'images/bag.png' %}" alt="" />
                                <div class="clearfix"> </div>
                            </h4>
                        </a>
                    </div>
                    <p class="empty"><a href="" onclick="clearCart()" class="simpleCart_empty">Empty Cart</a></p>
                    <div class="clearfix"> </div>
                </div>
                <div class="header_top_right">
                    <div class="lang_list">
                        <select tabindex="4" class="dropdown">
							<option value="" class="label" value="">$ Us</option>
							<option value="1">Dollar</option>
							<option value="2">Euro</option>
						</select>
                    </div>
                    <ul class="header_user_info">
                        <a class="login" href="{% url 'user_profile' %}">
                            <i class="user"> </i>
                            <li class="user_desc" id="usrprofile">My Account</li>
                        </a>
                        <div class="clearfix"> </div>
                    </ul>
                    <!-- start search-->
                    <div class="search-box">
                        <div id="sb-search" class="sb-search">
                            <form>
                                <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                                <input class="sb-search-submit" type="submit" value="">
                                <span class="sb-icon-search"> </span>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header_bottom">
                <div class="logo">
                    <h1><a href="{% url 'home_page' %}"><span class="m_1">W</span>atches</a></h1>
                </div>
                <div class="menu">
                    <ul class="megamenu skyblue">
                        <li>
                            <div class="megapanel">
                                <div class="row">
                                    <div class="col2">

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a class="color4" href="{% url 'store' %}">Watches</a>

                        </li>
                        <li class="active grid"><a class="color10" href="{% url 'brands' %}">Brands</a></li>
                        <li><a class="color3" href="">Sale</a></li>
                        <li><a class="color7" href="{% url 'contact' %}">Contact</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="men">
        <div class="container">
            <div class="col-md-9 single_top">
                <div class="product-count"></div>
                <form id="form">
                    {% csrf_token%}
                    <div id="user-info">
                        <h3>Personal Information:</h3>
                        <div class="form-field">
                            <input required class="form-control" type="text" value="{{user}}" name="name" placeholder="Name..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" value="{{email}}" name="email" placeholder="Email..">
                        </div>
                    </div>
                    <hr>
                    <div id="shipping-info">

                        <h3>Shipping Information:</h3>

                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Address..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" placeholder="City..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="state" placeholder="State..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="country" placeholder="Country..">
                        </div>
                    </div>
                    <a class="checkoutbtn" id="make-payment">Make payment</a>
                </form>


            </div>
            <div class="col-md-3 tabs">
                <h3 class="m_1">Order Summary</h3>
                {% for item in items %}
                <ul class="product">
                    <li class="product_img"><img src="data:image/jpg;base64,{{item.product.decoded_image}}" class="img-responsive" alt="" />
                    </li>
                    <li class="product_desc">
                        <h4><a>{{item.product.name}}</a></h4>
                        <h4 class="single_price">Price : ${{item.product.price | floatformat:2}}</h4>
                        <p class="single_price">Quantity : {{item.quantity}}</p>

                    </li>
                    <div class="clearfix"> </div>
                </ul>
                {% endfor %}
                <h4>Items: {{order.get_cart_items}}</h4>
                <h4>Total: ${{order.get_cart_total | floatformat:2}}</h4>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="newsletter">
                <h3>Newsletter</h3>
                <p>Subscribe to our newsletter and stay updated on the latest special offers!</p>
                <form>
                    <input type="text">
                    <input type="submit" value="SUBSCRIBE">
                </form>
            </div>

            <ul class="social">
                <li>
                    <a href=""> <i class="instagram"> </i> </a>
                </li>
                <li><a href=""><i class="fb"> </i> </a></li>
                <li><a href=""><i class="tw"> </i> </a></li>
            </ul>
            < </div>
        </div>
        <script type="text/javascript" src="{% static 'js/store/cart.js'  %}"></script>
        <script type=text/javascript>
            var profile = document.getElementById('usrprofile');
            if (user != 'Guest User')
                profile.innerHTML = "Profile ";


            document.getElementById('make-payment').addEventListener('click', function(e) {
                submitFormData()
            })

            function submitFormData() {
                var form = document.getElementById('form')
                var total = '{{order.get_cart_total}}'
                csrftoken = form.getElementsByTagName("input")[0].value

                console.log('payment button clicked')

                var userFormData = {
                    'name': null,
                    'email': null,
                    'total': total
                }

                var shippingInfo = {
                    'address': null,
                    'city': null,
                    'state': null,
                    'zipcode': null
                }


                userFormData.name = form.name.value;
                userFormData.email = form.email.value;

                shippingInfo.address = form.address.value;
                shippingInfo.city = form.city.value;
                shippingInfo.state = form.state.value;
                shippingInfo.zipcode = form.zipcode.value;

                var url = '/process_order/'
                fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                        body: JSON.stringify({
                            'form': userFormData,
                            'shipping': shippingInfo
                        })

                    })
                    .then((response) => response.json)
                    .then((data) => {
                        console.log('Success:', data);
                        alert('Transaction completed');

                        cart = {}
                        document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'
                        window.location.href = "{% url 'store' %}"
                    })
            }
        </script>
</body>

</html>