{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <title>Watches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="{% static 'css/store/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/store/style.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/store/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />

    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'js/store/megamenu.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/store/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/store/jquery.easydropdown.js' %}"></script>


    <script type="text/javascript">
        var user = '{{user}}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let csrftoken = getToken('csrftoken');
    </script>
</head>

<body>
    <div class="banner">
        <div class="container">
            <div class="header_top">
                <div class="header_top_left">
                    <div class="box_11">
                        <a href="{% url 'cart' %}">
                            <h4>
                                <p>Cart: <span>{{cartItems}}</span> items</p><img src="{% static 'images/bag.png' %}" alt="" />
                                <div class="clearfix"> </div>
                            </h4>
                        </a>
                    </div>
                    <p class="empty"><a href="" onclick="clearCart()" class="simpleCart_empty">Empty Cart</a></p>
                    <div class="clearfix"> </div>
                </div>
                <div class="header_top_right">
                    <div class="lang_list">
                        <select tabindex="4" class="dropdown">
							<option value="" class="label" value="">$ Us</option>
							<option value="1">Dollar</option>
							<option value="2">Euro</option>
						</select>
                    </div>
                    <ul class="header_user_info">
                        <a class="login" href="{% url 'user_profile' %}">
                            <i class="user"> </i>
                            <li class="user_desc" id="usrprofile">My Account</li>
                        </a>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header_bottom">
                <div class="logo">
                    <h1><a href="/"><span class="m_1">W</span>atches</a></h1>
                </div>
                <div class="menu">
                    <ul class="megamenu skyblue">
                        <li><a class="color4" href="{% url 'store' %}">Watches</a>
                        </li>
                        <li><a class="color10" href="{% url 'brands' %}">Brands</a></li>
                        <li class="active grid"><a class="color3" href="">Sale</a></li>
                        <li><a class="color7" href="{% url 'contact' %}">Contact</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <ul class="content-home">
                <li class="col-sm-4">
                    <a href="{% url 'store'%}" class="item-link" title="">
                        <div class="bannerBox">
                            <img src="images/w6.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                            <div class="item-html">
                                <h3>Men's<span>Watches</span></h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <button>Shop now!</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-sm-4">
                    <a href="{% url 'store'%}" class="item-link" title="">
                        <div class="bannerBox">
                            <img src="{% static 'images/w4.jpg' %}" class="item-img" title="" alt="" width="100%" height="100%">
                            <div class="item-html">
                                <h3>Men's<span>Watches</span></h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <button>Shop now!</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-sm-4">
                    <a href="{% url 'store'%}" class="item-link" title="">
                        <div class="bannerBox">
                            <img src="{% static 'images/w5.jpg' %}" class="item-img" title="" alt="" width="100%" height="100%">
                            <div class="item-html">
                                <h3>Men's<span>Watches</span></h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <button>Shop now!</button>
                            </div>
                        </div>
                    </a>
                </li>
                <div class="clearfix"> </div>
            </ul>
        </div>
        <div class="middle_content">
            <div class="container">
                <h2>Welcome</h2>
                <p>You may be dressed to the nines for a formal dinner in your best suit. Or you may have picked up your favourite designer jacket, shirt and chinos for a trendy social event. No matter what the occasion, only the right kind of watch can
                    add the perfect finishing touch to your outfit. Myntra brings you an exhaustive collection of formal, semi-formal, casual and sports watches for men online. We bring you a multitude of selections from the finest men’s branded watches
                    with unique selections for different kinds of outfits
                </p>
            </div>
        </div>
        <div class="content_middle_bottom">
            <div class="header-left" id="home">
                <section>
                    <ul class="lb-album">
                        <li>
                            <a>
                                <img src="images/g1.jpg" class="img-responsive" alt="image01" />
                                <span>Sample</span>
                            </a>
                            <div class="lb-overlay" id="image-1">
                                <img src="images/g1.jpg" class="img-responsive" alt="image01" />

                            </div>
                        </li>
                        <li>
                            <a>
                                <img src="images/g2.jpg" class="img-responsive" alt="image02" />
                                <span>Sample</span>
                            </a>
                            <div class="lb-overlay" id="image-2">
                                <img src="images/g2.jpg" class="img-responsive" alt="image02" />
                            </div>
                        </li>
                        <li>
                            <a>
                                <img src="images/g3.jpg" class="img-responsive" alt="image03" />
                                <span>Sample</span>
                            </a>
                            <div class="lb-overlay" id="image-3">
                                <img src="images/g3.jpg" class="img-responsive" alt="image03" />


                            </div>
                        </li>
                        <li>
                            <a ">
								<img src="images/g4.jpg " class="img-responsive " alt="image04 " />
								<span>Sample</span>
							</a>
							<div class="lb-overlay " id="image-4 ">
								<img src="images/g4.jpg " class="img-responsive " alt="image04 " />
							</div>
						</li>
						<li>
							<a >
								<img src="images/g5.jpg " class="img-responsive " alt="image05 " />
								<span>Sample</span>
							</a>
							<div class="lb-overlay " id="image-5 ">
								<img src="images/g5.jpg " class="img-responsive " alt="image05 " />
							</div>
						</li>
						<li>
							<a >
								<img src="images/g6.jpg " class="img-responsive " alt="image06 " />
								<span>Sample</span>
							</a>
							<div class="lb-overlay " id="image-6 ">
								<img src="images/g6.jpg " class="img-responsive " alt="image06 " />
							</div>
						</li>
						<li>
							<a >
								<img src="images/g7.jpg " class="img-responsive " alt="image07 " />
								<span>Sample</span>
							</a>
							<div class="lb-overlay " id="image-7 ">
								<img src="images/g7.jpg " class="img-responsive " alt="image07 " />
							</div>
						</li>
						<li>
							<a>
								<img src="images/g8.jpg " class="img-responsive " alt="image08 " />
								<span>Sample</span>
							</a>
							<div class="lb-overlay " id="image-8 ">
								<img src="images/g8.jpg " class="img-responsive " alt="image08 " />
							</div>
						</li>
						<div class="clearfix "></div>
					</ul>
				</section>
			</div>
		</div>
	</div>
	<hr>
	<div class="map ">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3213812.2329896777!2d22.238235054941764!3d38.12883246508444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135b4ac711716c63%3A0x363a1775dc9a2d1d!2zzpXOu867zqzOtM6x!5e0!3m2!1sel!2sgr!4v1611922207937!5m2!1sel!2sgr"> </iframe>
	</div>
	<div class="footer ">
        <div class="container ">
            <div class="newsletter ">
                <h3>Newsletter</h3>
                <p>Subscribe to our newsletter and stay updated on the latest special offers!</p>
                <form>
                    <input type="text ">
                    <input type="submit " value="SUBSCRIBE ">
                </form>
            </div>

            <ul class="social ">
                <li><a href=" "> <i class="instagram "> </i> </a></li>
                <li><a href=" "><i class="fb "> </i> </a></li>
                <li><a href=" "><i class="tw "> </i> </a></li>
            </ul>

        </div>
    </div>
	<script type="text/javascript " src="{% static 'js/store/cart.js' %} "></script>
	<script type=text/javascript>
		var profile = document.getElementById('usrprofile');
		if (user!='Guest User')
			profile.innerHTML = "Profile ";
		
	</script>
</body>

</html>