{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Admin | Dashboard</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/bootstrap/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/linearicons/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/chartist/css/chartist-custom.css' %} ">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/admin/main.css' %}">

    <link rel="stylesheet" href="{% static 'css/admin/demo.css' %}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/admin/apple-icon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/admin/favicon.png' %}">
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="index.html"><img src="{% static 'images/admin/logo-dark.png' %}" alt="Klorofil Logo" class="img-responsive logo"></a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" value="" class="form-control" placeholder="Search dashboard...">
                        <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                    </div>
                </form>

                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                <i class="lnr lnr-alarm"></i>
                                <span class="badge bg-danger">5</span>
                            </a>
                        </li>
                        <li class="dropdown"></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static 'images/admin/user.png' %}" class="img-circle" alt="Avatar"> <span>Admin</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                        <li><a href="" class=""><i class="lnr lnr-code"></i> <span>Elements</span></a></li>
                        <li><a href="" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
                        <li><a href="" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
                        <li><a href="" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
                        <li>
                            <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPages" class="collapse ">
                                <ul class="nav">
                                    <li><a href="" class="">Profile</a></li>
                                    <li><a href="" class="">Login</a></li>
                                    <li><a href="" class="">Lockscreen</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
                        <li><a href="" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
                        <li><a href="" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <!-- OVERVIEW -->
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title">Graph Overview</h3>
                            <p class="panel-subtitle">Period: Dec 14, 2020 - Dec 21, 2021</p>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-9">
                                    <div id="headline-chart" class="ct-chart"></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="weekly-summary text-right">
                                        <span class="number">{{total_orders}}</span>
                                        <span class="info-label">Total orders</span>
                                    </div>
                                    <div class="weekly-summary text-right">
                                        <span class="number">{{total_products_selled}}</span>
                                        <span class="info-label">Total products selled</span>
                                    </div>
                                    <div class="weekly-summary text-right">
                                        <span class="number">${{total_income}}</span>
                                        <span class="info-label">Total Income</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OVERVIEW -->
                    <div class="row">
                        <div class="container-fluid">
                            <!-- RECENT PURCHASES -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Recent Purchases</h3>

                                </div>
                                <div class="panel-body no-padding">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Name</th>
                                                <th>Date ordered</th>
                                                <th>Product ID</th>
                                                <th>Quantity</th>

                                                <th>City</th>
                                                <th>State</th>
                                                <th>Address</th>
                                                <th>Zipcode</th>
                                                <th>Status</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order in orders %}
                                            <tr>
                                                <td><a href="#">{{order.order_id}}</a></td>

                                                <td>{{ order.customer.name }}</td>



                                                <td>{{order.date_added}}</td>
                                                <td>{{order.product_id}}</td>
                                                <td>{{order.quantity}}</td>

                                                <td>{{order.customer.addresses.first.city}}</td>
                                                <td>{{order.customer.addresses.first.state}}</td>
                                                <td>{{order.customer.addresses.first.address}}</td>
                                                <td>{{order.customer.addresses.first.zipcode}}</td>
                                                {% if order.order.complete %}
                                                <td>DONE</td>
                                                {% else %}
                                                <td><button data-order={{order.order_id}} type="button" id="statusBTN" class="btn btn-success">Success</button></td>
                                                {% endif %}




                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <!-- END RECENT PURCHASES -->
                        </div>

                    </div>


                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>

    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'vendor/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static 'scripts/klorofil-common.js' %}"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');


        var statusbutton = document.getElementsByClassName('btn')
        for (var i = 0; i < statusbutton.length; i++) {

            statusbutton[i].addEventListener('click', function() {
                var orderid = this.dataset.order
                console.log(orderid)
                fetch('/adminpanel/update_order_status/', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json, text/plain, */*',
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                        body: JSON.stringify({
                            'orderid': orderid
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                location.reload()
            })
        }


        $(function() {
            var data, options;

            // headline charts
            data = {
                labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                series: [
                    [23, 29, 24, 40, 25, 24, 35],
                    [14, 25, 18, 34, 29, 38, 44],
                ]
            };

            options = {
                height: 300,
                showArea: true,
                showLine: false,
                showPoint: false,
                fullWidth: true,
                axisX: {
                    showGrid: false
                },
                lineSmooth: false,
            };

            new Chartist.Line('#headline-chart', data, options);


            // visits trend charts
            data = {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                series: [{
                    name: 'series-real',
                    data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
                }, {
                    name: 'series-projection',
                    data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
                }]
            };

            options = {
                fullWidth: true,
                lineSmooth: false,
                height: "270px",
                low: 0,
                high: 'auto',
                series: {
                    'series-projection': {
                        showArea: true,
                        showPoint: false,
                        showLine: false
                    },
                },
                axisX: {
                    showGrid: false,

                },
                axisY: {
                    showGrid: false,
                    onlyInteger: true,
                    offset: 0,
                },
                chartPadding: {
                    left: 20,
                    right: 20
                }
            };

            new Chartist.Line('#visits-trends-chart', data, options);


            // visits chart
            data = {
                labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                series: [
                    [6384, 6342, 5437, 2764, 3958, 5068, 7654]
                ]
            };

            options = {
                height: 300,
                axisX: {
                    showGrid: false
                },
            };

            new Chartist.Bar('#visits-chart', data, options);


            // real-time pie chart
            var sysLoad = $('#system-load').easyPieChart({
                size: 130,
                barColor: function(percent) {
                    return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
                },
                trackColor: 'rgba(245, 245, 245, 0.8)',
                scaleColor: false,
                lineWidth: 5,
                lineCap: "square",
                animate: 800
            });

            var updateInterval = 3000; // in milliseconds

            setInterval(function() {
                var randomVal;
                randomVal = getRandomInt(0, 100);

                sysLoad.data('easyPieChart').update(randomVal);
                sysLoad.find('.percent').text(randomVal);
            }, updateInterval);

            function getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }

        });
    </script>
</body>

</html>