{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Admin | Dashboard</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/bootstrap/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/linearicons/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/chartist/css/chartist-custom.css' %} ">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/admin/main.css' %}">

    <link rel="stylesheet" href="{% static 'css/admin/demo.css' %}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/admin/apple-icon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/admin/favicon.png' %}">
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="index.html"><img src="{% static 'images/admin/admin.jpg' %}" alt="Klorofil Logo" class="img-responsive logo"></a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" value="" class="form-control" placeholder="Search dashboard...">
                        <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                    </div>
                </form>

                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                <i class="lnr lnr-alarm"></i>
                                <span class="badge bg-danger">5</span>
                            </a>
                        </li>
                        <li class="dropdown"></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static 'images/admin/user.png' %}" class="img-circle" alt="Avatar"> <span>Admin</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="{%url 'admin_panel'%}"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                        <li><a href="{%url 'products' %}" class="active"><i class="lnr lnr-code"></i> <span>Products</span></a></li>
                        <li><a href="{%url 'registered_users' %}" class=""><i class="lnr lnr-chart-bars"></i> <span>Users</span></a></li>
                        <li><a href="" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
                        <li><a href="" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
                        <li>
                            <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPages" class="collapse ">
                                <ul class="nav">
                                    <li><a href="" class="">Profile</a></li>
                                    <li><a href="" class="">Login</a></li>
                                    <li><a href="" class="">Lockscreen</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
                        <li><a href="" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
                        <li><a href="" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">Products</h3>
                    <div class="row"> </div>
                    <div class="col-md-4">
                        <!-- PANEL NO CONTROLS -->
                        {%for product in products%}
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Product name: {{product.name}} </h3>
                            </div>
                            <div class="panel-body">

                                <form method="POST" action="{% url 'makeChanges' %}">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input hidden type="text" name="productid" value="{{product.id}}">
                                        <input type="text" name="productname" value="{{product.name}}" class="form-control" placeholder="Product name">
                                        <input type="text" name="productprice" value="{{product.price}}" class="form-control" placeholder="Product price">

                                    </div>
                                    <br>
                                    <button type="submit" class="makeChangebtn btn-primary">Submit changes</button>
                                </form>
                            </div>
                        </div>
                        {%endfor%}
                        <!-- END PANEL NO CONTROLS -->

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // function getCookie(name) {
        //     let cookieValue = null;
        //     if (document.cookie && document.cookie !== '') {
        //         const cookies = document.cookie.split(';');
        //         for (let i = 0; i < cookies.length; i++) {
        //             const cookie = cookies[i].trim();
        //             // Does this cookie string begin with the name we want?
        //             if (cookie.substring(0, name.length + 1) === (name + '=')) {
        //                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        //                 break;
        //             }
        //         }
        //     }
        //     return cookieValue;
        // }
        // const csrftoken = getCookie('csrftoken');

        // var makeChangeBtns = document.getElementsByClassName('makeChangebtn')
        // for (var i = 0; i < makeChangeBtns.length; i++) {

        //     makeChangeBtns[i].addEventListener('click', function() {
        //         var productid = this.dataset.productid
        //             // var productname = this.dataset.productname
        //             // var productprice = this.dataset.productprice

        //         fetch('/adminpanel/makeChanges/', {
        //                 method: 'PUT',
        //                 headers: {
        //                     'Accept': 'application/json, text/plain, */*',
        //                     'Content-Type': 'application/json',
        //                     'X-CSRFToken': csrftoken,
        //                 },
        //                 body: JSON.stringify({
        //                     'productid': productid,
        //                     // 'productname': productname,
        //                     // 'productprice': productprice
        //                 }),
        //             })
        //             .then(response => response.json())
        //             .then(data => {
        //                 console.log('Success:', data);
        //             })
        //             .catch((error) => {
        //                 console.error('Error:', error);
        //             });
        //         // location.reload()

        //     })

        // }
    </script>


</body>

</html>