{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Admin | Dashboard</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/bootstrap/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/linearicons/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/chartist/css/chartist-custom.css' %} ">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/admin/main.css' %}">

    <link rel="stylesheet" href="{% static 'css/admin/demo.css' %}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="index.html"><img src="{% static 'images/admin/admin.jpg' %}" alt="Klorofil Logo" class="img-responsive logo"></a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" value="" class="form-control" placeholder="Search dashboard...">
                        <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                    </div>
                </form>

                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                <i class="lnr lnr-alarm"></i>
                                <span class="badge bg-danger">5</span>
                            </a>
                        </li>
                        <li class="dropdown"></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static 'images/admin/user.png' %}" class="img-circle" alt="Avatar"> <span>Admin</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="{%url 'admin_panel'%}"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                        <li><a href="{%url 'products' %}" class=""><i class="lnr lnr-code"></i> <span>Products</span></a></li>
                        <li><a href="{%url 'registered_users' %}" class="active"><i class="lnr lnr-chart-bars"></i> <span>Users</span></a></li>
                        
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">

                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Bordered Table</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Date Joined</th>
                                        <th>Remove User</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {%for user in users%}
                                    <tr>
                                        <td>{{user.id}}</td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.date_joined}}</td>
                                        <td><button data-user={{user.id}} type="button" class="btn btn-danger update-users"><i class="fa fa-trash-o"></i> REMOVE</button></td>
                                    </tr>

                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END BORDERED TABLE -->
                </div>

            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>

    </div>
    <script type="text/javascript" src="{% static 'js/admin/users.js'  %}"></script>

</body>

</html>