<!DOCTYPE html>
<html lang="en">
    {%csrf_token%}
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}" />
</head>

<body>


    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form method="POST" action="">
                <h1>Sign in</h1>
                {{form.name}}
             
                {{form.password}}
                <a href="#">Forgot your password?</a>
                <button>Sign In</button>
                <br>
                {%for message in messages%}
                <p style="color:red;">{{message}}</p>
                {%endfor%}
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <!-- <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div> -->
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>

     const signUpButton = document.getElementById('signUp');
    // const signInButton = document.getElementById('signIn');
    // const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        window.location.href = "{%url 'register'%}";
        // container.classList.add("right-panel-active");
    });

    // signInButton.addEventListener('click', () => {
    //     container.classList.remove("right-panel-active");
    // });
</script>