{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <title>Watches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="{% static 'css/store/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/store/style.css' %}" rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'js/store/jquery-1.11.1.min.js' %}"></script>
    <link href="{% static 'css/store/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="{% static 'js/store/megamenu.js' %}"></script>
    <script src="{% static 'js/store/jquery.easydropdown.js' %}"></script>

    <script type="text/javascript">
        var user = '{{user}}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let csrftoken = getToken('csrftoken');
    </script>
</head>

<body>
    <div class="men_banner">
        <div class="container">
            <div class="header_top">
                <div class="header_top_left">
                    <div class="box_11">
                        <a href="{% url 'cart' %}">
                            <h4>
                                <p>Cart: <span>{{cartItems}}</span> items</p><img src="{% static 'images/bag.png' %}" alt="" />
                                <div class="clearfix"> </div>
                            </h4>
                        </a>
                    </div>
                    <p class="empty"><a href="" onclick="clearCart()" class="simpleCart_empty">Empty Cart</a></p>
                    <div class="clearfix"> </div>
                </div>
                <div class="header_top_right">
                    <div class="lang_list">
                        <select tabindex="4" class="dropdown">
							<option value="" class="label" value="">$ Us</option>
							<option value="1">Dollar</option>
							<option value="2">Euro</option>
						</select>
                    </div>
                    <ul class="header_user_info">
                        <a class="login" href="{% url 'user_profile' %}">
                            <i class="user"> </i>
                            <li class="user_desc" id="usrprofile">My Account</li>
                        </a>
                        <div class="clearfix"> </div>
                    </ul>


                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header_bottom">
                <div class="logo">
                    <h1><a href="{% url 'home_page' %}"><span class="m_1">W</span>atches</a></h1>
                </div>
                <div class="menu">
                    <ul class="megamenu skyblue">
                        <li>
                            <div class="megapanel">
                                <div class="row">
                                    <div class="col2">

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a class="color4" href="{% url 'store' %}">Watches</a>

                        </li>
                        <li class="active grid"><a class="color10" href="{% url 'brands' %}">Brands</a></li>
                        <li><a class="color3" href="">Sale</a></li>
                        <li><a class="color7" href="{% url 'contact' %}">Contact</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="account-in">
        <div class="container">
            <div class="clearfix"> </div>
            <div class="register-but">
                <form method="POST" action="">
                    <div class="register-top-grid">
                        <h2>PERSONAL INFORMATION</h2>
                        <div>
                            <span>Name<label>*</label></span> {{form.name}}
                            <span>Email Address<label>*</label></span> {{form.email}}

                        </div>

                        <div class="clearfix"> </div>
                        <a class="news-letter" href="#">

                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for
								Newsletter</label>
                        </a>
                    </div>
                    <div class="register-bottom-grid">
                        <div>
                            <span>Password<label>*</label></span> {{form.password}}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    {%for message in messages%}
                    <p style="color:red;">{{message}}</p>
                    {%endfor%}

                    <div class="clearfix"> </div>
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3213812.2329896777!2d22.238235054941764!3d38.12883246508444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135b4ac711716c63%3A0x363a1775dc9a2d1d!2zzpXOu867zqzOtM6x!5e0!3m2!1sel!2sgr!4v1611922207937!5m2!1sel!2sgr">
		</iframe>
    </div>
    <div class="footer">
        <div class="container">
            <div class="newsletter">
                <h3>Newsletter</h3>
                <p>Subscribe to our newsletter and stay updated on the latest special offers!</p>
                <form>
                    <input type="text">
                    <input type="submit" value="SUBSCRIBE">
                </form>
            </div>

            <ul class="social">
                <li>
                    <a href=""> <i class="instagram"> </i> </a>
                </li>
                <li><a href=""><i class="fb"> </i> </a></li>
                <li><a href=""><i class="tw"> </i> </a></li>
            </ul>

        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/store/cart.js'  %}"></script>
</body>

</html>